
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my first home page</title>
    <style>
        h1.custom-style {
            text-align: center;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk403j6nlsF2-gi9cca9f7cWy9Eg1KkpejR70mvQUeIirhtcIRvhTYZJiDmw&s");
            color:white;
        }
    </style>

</head>
<body>
    <h1 class="custom-style">THIS IS HOME PAGE </h1>
    <h1  class="custom-style"> THE PAGES YOU WANT</h1>
</body>
<br>
<br>
<a href="/profile/">shaxsiy profile</a>
<br>
<a href="/dashboard/">dashboard page</a>
<br>
<a href="/contacts/">contacts page</a>
<br>
<a href="/products/">products page</a>

</body>
</html>